*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# Ignore everything
*
flutter/*

# But not these files...
!.gitignore
!README.md
!flutter/lib/README.md
!flutter/lib/pubspec.yaml
# and not this folder
!arduino
!flutter/lib/*

